<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ax1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0 0 0.0053279"
        rpy="0 0 0" />
      <mass
        value="0.050778" />
      <inertia
        ixx="1.0583E-05"
        ixy="0"
        ixz="0"
        iyy="4.0367E-05"
        iyz="0"
        izz="4.9749E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ax1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ax1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="p_link">
    <inertial>
      <origin
        xyz="0.00015748 0.37969 -2.0724E-09"
        rpy="0 0 0" />
      <mass
        value="0.54553" />
      <inertia
        ixx="0.00081242"
        ixy="0"
        ixz="0"
        iyy="0.00052799"
        iyz="0"
        izz="0.00081664" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ax1/meshes/p_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ax1/meshes/p_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j_1"
    type="revolute">
    <origin
      xyz="0 0 0.016"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="p_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>