<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="chainlink">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.10921 0.0037335 -0.075612"
        rpy="0 0 0" />
      <mass
        value="0.05" />
      <inertia
        ixx="3.1137E-05"
        ixy="1.2533E-21"
        ixz="3.1137E-05"
        iyy="4.0367E-05"
        iyz="8.3915E-22"
        izz="3.1137E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/b_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link">
    <inertial>
      <origin
        xyz="-1.5179E-17 -0.034081 -0.025388"
        rpy="0 0 0" />
      <mass
        value="0.05" />
      <inertia
        ixx="1.119E-05"
        ixy="3.4675E-21"
        ixz="2.1776E-21"
        iyy="1.0117E-05"
        iyz="-5.3144E-06"
        izz="1.3292E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j"
    type="revolute">
    <origin
      xyz="-0.10148 0.068255 0.0037335"
      rpy="1.5708 1.5708 0" />
    <parent
      link="base_link" />
    <child
      link="link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_0">
    <inertial>
      <origin
        xyz="-8.0036E-08 0 -0.032524"
        rpy="0 0 0" />
      <mass
        value="0.05" />
      <inertia
        ixx="1.9943E-05"
        ixy="4.4947E-24"
        ixz="-9.8552E-23"
        iyy="1.3843E-05"
        iyz="-3.4668E-12"
        izz="6.2389E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_0.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j0"
    type="revolute">
    <origin
      xyz="0 -0.068162 -0.050776"
      rpy="0 0 0" />
    <parent
      link="link" />
    <child
      link="link_0" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-2.537E-16 -0.027093 -0.032742"
        rpy="0 0 0" />
      <mass
        value="0.05" />
      <inertia
        ixx="1.119E-05"
        ixy="-1.8301E-20"
        ixz="-2.6263E-20"
        iyy="1.2742E-05"
        iyz="-5.4485E-06"
        izz="1.0666E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j1"
    type="revolute">
    <origin
      xyz="0 0 -0.065048"
      rpy="0 0 0" />
    <parent
      link="link_0" />
    <child
      link="link_1" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="-8.0036E-08 -0.020051 -0.025608"
        rpy="0 0 0" />
      <mass
        value="0.05" />
      <inertia
        ixx="1.9943E-05"
        ixy="-1.276E-22"
        ixz="-9.0667E-23"
        iyy="1.0953E-05"
        iyz="-3.6909E-06"
        izz="9.1288E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j2"
    type="revolute">
    <origin
      xyz="0 -0.054185 -0.065484"
      rpy="0 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="-4.2067E-17 -0.023702 -0.035274"
        rpy="0 0 0" />
      <mass
        value="0.05" />
      <inertia
        ixx="1.119E-05"
        ixy="-1.716E-21"
        ixz="-5.2473E-21"
        iyy="1.38E-05"
        iyz="-5.1353E-06"
        izz="9.6083E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j3"
    type="revolute">
    <origin
      xyz="0 -0.040102 -0.051216"
      rpy="0 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-8.0036E-08 -0.016076 -0.028273"
        rpy="0 0 0" />
      <mass
        value="0.05" />
      <inertia
        ixx="1.9943E-05"
        ixy="3.3994E-22"
        ixz="5.6462E-22"
        iyy="1.1985E-05"
        iyz="-3.2672E-06"
        izz="8.0966E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j4"
    type="revolute">
    <origin
      xyz="0 -0.047405 -0.070548"
      rpy="0 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="-2.6975E-16 -0.016762 -0.039052"
        rpy="0 0 0" />
      <mass
        value="0.05" />
      <inertia
        ixx="1.119E-05"
        ixy="-1.4909E-20"
        ixz="-3.5907E-20"
        iyy="1.5525E-05"
        iyz="-4.0206E-06"
        izz="7.8833E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j5"
    type="revolute">
    <origin
      xyz="0 -0.032152 -0.056546"
      rpy="0 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="-8.0036E-08 -0.0089515 -0.031268"
        rpy="0 0 0" />
      <mass
        value="0.05" />
      <inertia
        ixx="1.9943E-05"
        ixy="8.9056E-22"
        ixz="2.8637E-21"
        iyy="1.3267E-05"
        iyz="-2.0119E-06"
        izz="6.8149E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j6"
    type="revolute">
    <origin
      xyz="0 -0.033524 -0.078105"
      rpy="0 0 0" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_7">
    <inertial>
      <origin
        xyz="-2.6238E-16 -0.006435 -0.042008"
        rpy="0 0 0" />
      <mass
        value="0.05" />
      <inertia
        ixx="1.119E-05"
        ixy="-2.1257E-21"
        ixz="-2.1459E-20"
        iyy="1.6996E-05"
        iyz="-1.6603E-06"
        izz="6.412E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j7"
    type="revolute">
    <origin
      xyz="0 -0.017903 -0.062536"
      rpy="0 0 0" />
    <parent
      link="link_6" />
    <child
      link="link_7" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_8">
    <inertial>
      <origin
        xyz="-8.0036E-08 -0.003762 -0.032306"
        rpy="0 0 0" />
      <mass
        value="0.05" />
      <inertia
        ixx="1.9943E-05"
        ixy="-2.7743E-23"
        ixz="-8.6346E-22"
        iyy="1.3741E-05"
        iyz="-8.7362E-07"
        izz="6.3406E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_8.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_8.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j8"
    type="revolute">
    <origin
      xyz="0 -0.01287 -0.084015"
      rpy="0 0 0" />
    <parent
      link="link_7" />
    <child
      link="link_8" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_9">
    <inertial>
      <origin
        xyz="-1.9776E-16 0.0020155 -0.04245"
        rpy="0 0 0" />
      <mass
        value="0.05" />
      <inertia
        ixx="1.119E-05"
        ixy="4.5236E-22"
        ixz="-1.034E-20"
        iyy="1.7226E-05"
        iyz="5.2551E-07"
        izz="6.1826E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_9.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_9.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j9"
    type="revolute">
    <origin
      xyz="0 -0.0075241 -0.064611"
      rpy="0 0 0" />
    <parent
      link="link_8" />
    <child
      link="link_9" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_10">
    <inertial>
      <origin
        xyz="-8.0036E-08 2.7756E-17 -0.032524"
        rpy="0 0 0" />
      <mass
        value="0.05" />
      <inertia
        ixx="1.9943E-05"
        ixy="-1.6188E-22"
        ixz="8.8419E-22"
        iyy="1.3843E-05"
        iyz="-3.4668E-12"
        izz="6.2389E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_10.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://chainlink/meshes/link_10.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j10"
    type="revolute">
    <origin
      xyz="0 0.004031 -0.084899"
      rpy="0 0 0" />
    <parent
      link="link_9" />
    <child
      link="link_10" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>
