<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="bob_final">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="6.0429E-18 4.8664E-18 0.0053279"
        rpy="0 0 0" />
      <mass
        value="0.050778" />
      <inertia
        ixx="1.0583E-05"
        ixy="3.5103E-21"
        ixz="-7.517E-24"
        iyy="4.0367E-05"
        iyz="7.1369E-22"
        izz="4.9749E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bob_final/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bob_final/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="p_link">
    <inertial>
      <origin
        xyz="0.0038295 0.13837 -5.0397E-08"
        rpy="0 0 0" />
      <mass
        value="0.022434" />
      <inertia
        ixx="0.00028983"
        ixy="1.0439E-05"
        ixz="9.3637E-12"
        iyy="4.3986E-06"
        iyz="-9.4845E-11"
        izz="0.00029405" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bob_final/meshes/p_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bob_final/meshes/p_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j_1"
    type="revolute">
    <origin
      xyz="0 0 0.016"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="p_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="bob_link">
    <inertial>
      <origin
        xyz="6.1087E-18 -0.049883 -6.8268E-17"
        rpy="0 0 0" />
      <mass
        value="0.5231" />
      <inertia
        ixx="0.00052258"
        ixy="-1.2381E-22"
        ixz="-2.6718E-38"
        iyy="0.00052359"
        iyz="2.0653E-22"
        izz="0.00052258" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bob_final/meshes/bob_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bob_final/meshes/bob_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="b_link"
    type="continuous">
    <origin
      xyz="0 0.34016 0"
      rpy="0 -1.5708 0" />
    <parent
      link="p_link" />
    <child
      link="bob_link" />
    <axis
      xyz="0 1 0" />
  </joint>
</robot>